:root {
  --primary-color: #FCE762;
  --primary-color-opacity: #FCE76270;
  --primary-color-hover: #E7D34E;
  --text-color: #FFFFFF;
  --placeholder-color: rgb(59, 63, 73);

  --bg-color-01: #27282C;
  --bg-color-02: #2F3136;
  --bg-color-03: #323439;

  --box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.25);
  --box-shadow-header: 0px 1px 1px rgba(0, 0, 0, 0.25);
  --box-shadow-dropdown: 0px 1px 1px rgba(0, 0, 0, 0.25);

  /* Errors */
  --bg-input-error-color: rgba(220, 67, 67, 0.03);
  --border-input-error-color: 2px solid #DC4343;
  --box-shadow-input-color: 0px 0px 0px 6px rgba(220, 67, 67, 0.1);

  /* Input */
  --bg-input-default-color: #2F3136;
  --border-input-default-color: 2px solid #383C46;
  --border-input-focus-color: 2px solid #FFFFFF;
  --box-shadow-default-color: 0px 0px 0px 4px rgba(47, 49, 54, 0.75);

  /* Default values */
  --border-radius: 8px;
  --error-color: #DC4343;

  /* Spinner */
  --spinner-default-border-opacity-color: #ffffff7c;
  --spinner-default-border-color: #ffffff;

  /* Scroll bar */
  --scroll-track-color: rgba(50, 52, 57, 0.29);
  --scroll-thumb-color: #212225;
  --scroll-hover-color: #323439;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  background-color: var(--bg-color-01);

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*
 *
 *
 */
.auth {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  overflow: hidden;
  position: fixed;
}

/*
 *
 * Card
 */
.card {
  width: 430px;
  padding: 20px 30px 30px;

  border-radius: 14px;

  background-color: var(--bg-color-02);

  box-shadow: var(--box-shadow);
}

/*
 *
 * Input
 */
.input {
  width: 100%;
  position: relative;

  margin-top: 5px;
}

.input__field {
  min-height: 45px;
  width: 100%;

  background: var(--bg-input-default-color);
  border: var(--border-input-default-color);
  box-sizing: border-box;
  border-radius: 8px;

  padding: 0px 15px;

  color: var(--text-color);
  font-weight: 500;
  font-size: 16px;

  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.input__field--textarea {
  padding: 15px 15px;
  min-height: 45px;
  max-height: 132px;
  resize: none;
}

.input__field::placeholder {
  color: var(--placeholder-color);
  font-weight: 600;
  font-size: 16px;
}

.input__label {
  position: relative;
  left: 12px;
  top: 9px;
  display: inline-block;
  background-color: var(--bg-color-02);
  color: var(--text-color);
  font-size: 14px;
  font-weight: 400;
  padding: 0px 5px;
  border-radius: 4px;
}

.input__field:focus {
  transition: all ease 0.3s;
  outline: none;
  border: var(--border-input-focus-color);
}

.input--error .input__field:focus {
  border: var(--border-input-error-color);
  background-color: var(--bg-input-error-color);
  box-shadow: var(--box-shadow-input-color);
}

.input--error .input__field:focus.input__field::placeholder {
  color: transparent;
}

/*
 *
 * Channels
 */
.channel {
  width: 100%;
}

.channel__list {
  width: 100%;
  padding: 0px;
}

.channel__item {
  list-style: none;
}

.channel__link {
  padding: 15px 20px;
  border-radius: 24px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  text-decoration: none;
  font-size: 16px;
}

.channel__link:hover {
  background-color: var(--bg-color-03);
}

.channel__link.active {
  background-color: var(--bg-color-03);
  font-weight: 500;
}

.channel__title {
  color: var(--text-color);
}

.channel__link.active .channel__title {
  color: var(--primary-color);
}

.channel__status {
  display: none;
  width: 5px;
  height: 5px;
  border-radius: 5px;
  background-color: var(--text-color);
}

.channel__link.active .channel__status {
  display: inline-block;
  background-color: var(--primary-color);
}

/*
 *
 * Text
 */
.h1 {
  margin: 0px;
  padding: 0px;

  color: var(--text-color);

  font-weight: 700;
  font-size: 24px;
  line-height: 27px;
}

.p-01 {
  margin: 0px;
  padding: 0px;
  padding-top: 10px;
  font-size: 18px;

  color: var(--text-color);
}

.link {
  color: var(--primary-color);

  font-weight: 600;
  font-size: 16px;

  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

/*
 *
 * Button
 */
.btn {
  height: 45px;
  width: 100%;
  margin-top: 20px;

  background-color: var(--primary-color);

  border: none;

  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;

  cursor: pointer;

  padding: 15px 0px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.btn:disabled {
  background: var(--primary-color-hover);
  cursor: not-allowed;
}

.btn--primary {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  border-radius: 24px;
  color: var(--bg-color-02);
}

.btn--primary:hover {
  background: var(--primary-color-hover);
}

/*
 *
 * Dropdown
 */
.rounded__btn {
  border: none;

  width: 45px;
  height: 45px;
  border-radius: 45px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  background-color: var(--bg-color-03);
  color: var(--secondary-color);
  cursor: pointer;
  font-weight: 600;
}

.rounded__btn:hover,
.rounded__btn:focus {
  background-color: var(--bg-color-01) !important;
}

.dropdown__btn {
  position: relative;
}

.dropdown__btn:hover {
  background-color: var(--border-color);
}

.dropdown {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
}

.dropdown__nav {
  list-style: none;

  display: none;

  background-color: var(--bg-color-02);
  border: 1px solid var(--bg-color-01);
  box-shadow: var(--box-shadow-dropdown);
  border-radius: 8px;

  position: absolute;
  right: 0px;
  top: -16px;

  padding: 10px 0px;
}

/* .dropdown__item {} */

.dropdown__link {
  display: block;
  min-width: 200px;

  font-weight: 400;
  color: var(--text-color);
  text-decoration: none;

  padding: 5px 20px;
}

.dropdown__link:hover {
  background-color: var(--bg-color-03) !important;
}

.dropdown__btn:focus {
  background-color: var(--border-color);
}

.dropdown__btn:focus+.dropdown__nav {
  display: inline-block;
}

.dropdown__nav:hover {
  display: inline-block;
}

/*
 *
 * Avatar
 */
.avatar {
  background-color: var(--text-color);
  overflow: hidden;
}

.avatar--sm {
  width: 38px;
  height: 38px;
  border-radius: 38px;
}

.avatar__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/*
 *
 * Spinner
 */
.spinner {
  width: 20px;
  height: 20px;
  border: 4px solid var(--spinner-default-border-opacity-color);
  border-top: 4px solid var(--spinner-default-border-color);
  border-radius: 50%;
}

.spinner--primary {
  border: 4px solid var(--primary-color);
  border-top: 4px solid var(--primary-color);
}

.spinner {
  -webkit-transition-property: -webkit-transform;
  transition-duration: .3s;
  -webkit-animation-name: rotate;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;

  -moz-transition-property: -moz-transform;
  -moz-animation-name: rotate;
  -moz-animation-duration: .3s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;

  transition-property: transform;
  animation-name: rotate;
  animation-duration: .3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes rotate {
  from {
    -moz-transform: rotate(0deg);
  }

  to {
    -moz-transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/*
 *
 * Template
 */
.app {
  width: 100%;
  height: 100vh;

  padding: 20px;

  background-color: var(--bg-color-01);
}

.app__wrapper {
  width: 100%;
  height: calc(100vh - 40px);

  display: flex;
  flex-direction: row;

  border-radius: 8px;
  overflow: hidden;
}

.app__menu {
  width: 280px;
  min-width: 280px;

  display: flex;
  flex-direction: column;

  background-color: var(--bg-color-02);
}

.app__container {
  width: 100%;
  height: 100%;
}

.app__header {
  width: 100%;
  height: 60px;

  padding: 0px 25px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  box-shadow: var(--box-shadow-header);

  color: var(--text-color);
}

.app__header--bg-02 {
  background-color: var(--bg-color-02);
}

.app__header--bg-03 {
  background-color: var(--bg-color-03);
}

.channel__loading__text {
  margin-top: 20px;
  color: var(--text-color);
  font-size: 16px;
}

/* .app__menu-body {

} */

.nice-background {
  width: 100%;
  height: 100vh;

  background-image: url("./assets/imgs/nice4.jpg");
  background-position: center;
  background-size: cover;
}

/*
 *
 * Chat
 */
.chat {
  height: 100%;
  display: flex;
  flex-direction: column;

  background-image: url("https://blog.1a23.com/wp-content/uploads/sites/2/2020/02/pattern-3.svg");
  background-position: center;
  background-repeat: repeat;
  background-size: contain;
  border-top-right-radius: 10px;
}

.chat__header {
  min-height: 60px;
}

.chat__body {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  overflow-y: auto;
}

.chat__footer {
  display: flex;
  flex-direction: row;
  align-items: flex-end;

  position: relative;
  padding: 20px;
}

.text-color {
  color: var(--text-color);
}

.btn__scroll-to-bottom {
  display: inline-block;
  position: absolute;
  bottom: 10px;
  right: 20px;
}

/*
 *
 * Message
 */
.chat__message {
  width: 100%;
  padding: 10px 25px;
}

.chat__message:hover {
  background-color: rgba(255, 255, 255, 0.055);
}

.chat__avatar {
  width: 38px;
}

.chat__avatar__wrapper {
  width: 38px;
  height: 38px;

  overflow: hidden;
  border-radius: 38px;

  background-color: var(--text-color);
}

.chat__avatar__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.chat__message__hour {
  display: none;
  font-weight: 400;
}

.chat__message:hover .chat__message__hour {
  display: inline-block;
}

.chat__message {
  display: inline-block;
}

/* .chat__message__box {} */

.chat__username {
  display: block;
  font-weight: 600;
  font-size: 15px;

  color: var(--text-color);

  margin-left: 15px;
}

.chat__text__wrapper {
  display: inline-block;
  background: var(--bg-color-02);
  font-size: 15px;
  color: var(--text-color);
  box-shadow: var(--box-shadow);
  border-radius: 1px 8px 8px 10px;
  margin: 10px 15px 0px;
  padding: 10px 13px 11px;
  max-width: 700px;
}

.chat__text {
  display: block;
}

.chat__message--me .chat__text__wrapper {
  background: var(--primary-color);
  font-size: 15px;
  color: var(--bg-color-01);
  box-shadow: var(--box-shadow);
  border-radius: 8px 1px 8px 10px;
}

/*
 *
 * Scroll bar
 */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--scroll-track-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--scroll-thumb-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--scroll-hover-color);
}

/*
 *
 * Textarea da mensagem
 */
.input__field__textarea {
  width: 100%;
  height: 45px;
  min-height: 45px;
  max-height: 132px;

  padding: 10px 15px 12px;
  resize: none;

  font-size: 16px;
  color: var(--text-color);

  font-family: "Segoe UI";

  background-color: var(--bg-color-02);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  border: none;
  outline: none;
  color: var(--text-color);
}

.input__field__textarea::placeholder {
  color: var(--text-color);
}

/*
 *
 * Geral
 */
.position-relative {
  position: relative;
}

.text-error {
  margin-top: 5px;
  color: var(--error-color);
  font-weight: 400;
  font-size: 14px;
}

.mt-10 {
  margin-top: 10px;
}

.ml-20 {
  margin-left: 20px;
}

.mt-20 {
  margin-top: 20px;
}

.pt-0 {
  padding-top: 0px;
}

.mt-0 {
  margin-top: 0px;
}

.pt-20 {
  padding-top: 20px;
}

.text-center {
  display: block;
  text-align: center;
}

.heading-sm {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: var(--text-color);
}

.p-sm {
  font-weight: 400;
  font-size: 16px;
  color: var(--text-color);
}

.x-p-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.y-p-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.x-m-20 {
  margin-left: 20px;
  margin-right: 20px;
}

.y-m-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.p-l-20 {
  padding-left: 20px;
}

.p-l-10 {
  padding-left: 20px;
}

.fw-4 {
  font-weight: 400;
}

.fw-5 {
  font-weight: 500;
}

.fw-6 {
  font-weight: 600;
}

.fw-7 {
  font-weight: 700;
}

.fw-8 {
  font-weight: 800;
}

.pt-10 {
  padding-top: 10px;
}

.mr-20 {
  margin-right: 20px;
}

.ml-20 {
  margin-left: 20px;
}

.mt-100 {
  margin-top: 100px;
}

.d-flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}